extensions = exts

[exts]
authorityKeyIdentifier=keyid,issuer:always
certificatePolicies=critical,@polsect
subjectAltName=critical,email:djwill@cs.cornell.edu
#subjectAltName=dirName:dir_sect
#basicConstraints=critical,CA:FALSE
basicConstraints=critical,CA:TRUE

#certificatePolicies=critical,@polsect
#subjectAltName=critical,dirName:dir_sect
#basicConstraints=critical,CA:FALSE


[dir_sect]
+C=UK

#[dir_sect]
#C=US
#ST=None
#L=None
#O=TPM Manufacturer
#OU=None
#CN=None
#CN=XXX Atmel 1.1.0.6 in RDN form

[polsect]
policyIdentifier = 1.2.3.4
CPS.1="http://www.endorsemententity.com/policy.txt
userNotice.1=@notice

[notice]
explicitText="TCPA Trusted Platform Identity"
